/* SETTINGS SITE-WIDE */

@font-face {
    font-family: Roboto;
    src: url('/fonts/roboto-regular.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: calc(0.75rem + 1.5vw);
    line-height: 1.5;
}



body {
    font-family: Roboto, sans-serif;
    font-display: swap;
    z-index: 2;
}

article {
    max-inline-size: 66ch;
    line-height: 1.65;
}


/* ROOT VARIABLES */
:root {
    --clr-light: #dfdfdf;
    --clr-dark: #192119;
    --clr-accent: #f37b20;
    --clr-accent-r: #f34020;

    --clr-footer-light: #737373;
    --clr-footer-dark: #26272b;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-nav: 2rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}









/* NAVBAR TOGGLE*/
.logo {
    width: 75% !important;
}

.toggle__btn {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: .5em;
    z-index: 1000;
    order: 3;
}

.toggle__bar {
    display: inline-block;
    position: relative;
}

.toggle__bar,
.toggle__bar::before,
.toggle__bar::after {
    background: var(--clr-accent);
    width: 2.5em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.toggle__bar::before,
.toggle__bar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.toggle__bar::before {
    top: 7px;
}

.toggle__bar::after {
    bottom: 7px;
}

/* NAV JS */
.nav-open .nav {
    transform: translateX(0);
}

.nav-open .toggle__btn {
    position: fixed;
}

.nav-open .toggle__bar {
    transform: rotate(.625turn);
}

.nav-open .toggle__bar::before {
    transform: rotate(90deg) translateX(-7px);
}

.nav-open .toggle__bar::after {
    opacity: 0;
}

.nav__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

/* added to give toggle room with small screens */
@media (max-width: 365px) {
    .logo {
        width: 75% !important;
    }

    .toggle__btn {
        top: 1em;
    }
}



/* NAVBAR MENU */

.nav__link {
    text-decoration: none;
    font-size: var(--fs-nav);
    color: var(--clr-accent);
}



/* NAVBAR DESKTOP
@media (min-width: 800px) {
    .nav {
        visibility: visible;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}
*/







/* FOOTER */

.footer {
    background-color: var(--clr-footer-dark);
    color: var(--clr-footer-light);
    position: absolute;
}

.footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
    max-width: 90%;
}




.footer__container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}

.footer__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.footer__title {
    color: var(--clr-light);
}

.footer__text--justify {
    text-align: justify;
    margin: 0;
}



.footer a {
    color: var(--clr-footer-light);
    text-decoration: none;
}

.footer a:hover {
    color: var(--clr-accent);
    text-decoration: none;
}




@media (min-width: 800px) {
    .nav__large {
        display: flex;
        flex-direction: row;
    }

    .footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .footer__title,
    .footer__link {
        text-align: left;
    }

    .flex1 {
        max-width: 40%;
    }

    .flex2,
    .flex3 {
        max-width: 25%;
    }

    .flex4,
    .flex5 {
        width: 100%;
    }

}










/* NEWS TICKER STYLES */

.news-ticker__item {
    visibility: hidden;
    align-self: center;
    order: 2;

}

.news-ticker__item--active {
    visibility: visible;
}

.news-ticker a {
    text-decoration: none;
    color: var(--clr-accent);
    
}

















/* outer-container styles */

.outer-container {
    background-color: rgb(0, 27, 58);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: .5s;
}

.outer-container.light {
    background-color: rgb(247, 247, 247);
}
.toggle__btn {
    align-self: flex-end;
}





/* container "the whole button" styles */

.container {
    background: #484848;
    width: 5em;
    height: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    padding: 0.3em 0.5em;
    cursor: pointer;
    margin: .5em;
    order: 1;
}

.light .container {
    background: #25aee9;
}

/* sun and moon styles */

.circle {
    position: relative;
    height: 100%;
    width: 35%;
    background: #fffdf2;
    border-radius: 50%;
    transition: all 0.3s;

    border: 0.5em solid #dee1c5;

    box-shadow: 2em 0em 0 -1em #e9e0d1a8, 3em 0.8em 0 -1em #e9e0d1a8,
        3em 0em 0 -1.1em #e9e0d1a8, 2.5em -1em 0 -1.1em #e9e0d1a8,
        4em 0 0 -1em #e9e0d1a8, 4.5em 1em 0 -1.1em #e9e0d1a8,
        5em -0.8em 0em -1.1em #e9e0d1a8, 5.5em 0.5em 0 -1em #e9e0d1a8,
        inset 8em -2.5em 0.7em -3.5em rgba(104, 58, 15, 0.144),
        inset 0em 0em 0 -3em rgba(104, 58, 15, 0.041);
}



.light .circle {
    background: #fbca00;
    transform: translateX(190%);
    box-shadow: none;
    border: 0.2em solid #e4c74d;
}


/* the clouds styles

.circle::before,
.circle::after {
    content: "";
    position: absolute;
    background: rgba(104, 58, 15, 0.144);
    border-radius: 50%;
}

.circle::before {
    top: 65%;
    left: 60%;
    height: 0.5em;
    width: 0.5em;
    border: 0.1em solid rgba(104, 58, 15, 0.041);
}

.circle::after {
    top: 10%;
    left: -30%;
    height: 1em;
    width: 1em;
    border: 0.3em solid rgba(104, 58, 15, 0.041);
}


.light .circle::after,
.light .circle::before {
    display: none;
}


.light .cloud {
    position: absolute;
    top: 31%;
    left: -4.5em;
    display: block;
    width: 8em;
    height: 2em;
    border: 0.4em solid #d4d4d2;
    border-radius: 3em;
    background-color: #fff;
    animation: scaleItUp 0.5s;
    z-index: -2;
    transform: scale(0.35);
    pointer-events: none;
}

.light .cloud::before,
.light .cloud::after {
    content: "";
    display: block;
    position: relative;
    border: 0.4em solid #d4d4d2;
    border-radius: 100%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: #fff;
}

.light .cloud::before {
    top: -2.3em;
    right: 0em;
    width: 4em;
    height: 3.5em;

    transform: rotateZ(20deg);
}

.light .cloud::after {
    top: -6.7em;
    right: -3em;
    width: 3em;
    height: 5em;

    transform: rotateZ(83deg);
    z-index: -1;
}
*/


/* animations */
@keyframes scaleItUp {
    from {
        transform: scale(0);
    }
}